.comments-container {
    width: 100%;
    height: 100%;

    .comments-list {
        height: 100%;
        width: 40%;
        margin: 0;

        .comment {
            display: flex;
            justify-content: space-between;
            height: 40px;
            color: black;
            font-size: 14px;
            margin-bottom: 10px;
            padding: 5px 0 5px 5px;

            .comment-content {

                .comment-user {
                    color: rgba(0, 109, 172, 1);
                    text-decoration: none;
                    line-height: 24px;
                    font-weight: 600;
                    margin: 2px 0;
                }

                .comment-body {
                    margin: 0;
                }
            }
        }
    }

    form {

        textarea {
            border: none;
            overflow: auto;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            resize: none;
            width: 420px;
            height: 90px;
            border: 1px solid rgba(0, 141, 223, 1);
            border-radius: 3px;
        }
    }
}