.comments-list {
    height: 100%;
    width: 90%;
    margin: 0 auto;

    .comment {
        height: 40px;
        color: black;
        font-size: 14px;

        .comment-user {

        }

        .comment-body {

        }
    }
}