// Place all the styles related to the api/Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo-array {
    width: 80%;
    margin: 0 auto;
}

.photo-item {
    position: relative;
    width: 500px;
    height: 500px;
}

.photo-item a img {
    width: 100%;
    height: auto;
}

.photo-item p {
    position: absolute;
    top: 10px;
}